<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Lpan.system.dao.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.Lpan.system.model.Resource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="permission_code" jdbcType="VARCHAR" property="permissionCode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from explame_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="resource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into explame_resource (resource_name, resource_url, type, 
      level, path, parent_id, 
      permission_code, status, create_time, 
      update_time, memo)
    values (#{resourceName,jdbcType=VARCHAR}, #{resourceUrl,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{permissionCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="resource">
    update explame_resource
    set resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_url = #{resourceUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      permission_code = #{permissionCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, resource_name, resource_url, type, level, path, parent_id, permission_code, 
    status, create_time, update_time, memo
    from explame_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, resource_name, resource_url, type, level, path, parent_id, permission_code, 
    status, create_time, update_time, memo
    from explame_resource
  </select>
  
  <insert id="setResourceMapper" parameterType="java.util.Map">
  	INSERT INTO explame_role_resource
  	<trim prefix="(" suffix=")" suffixOverrides="," >
  		<if test="resourceId != null and resourceId !=''">
  			resource_id,
  		</if>
  		<if test="roleId != null and roleId !=''">
  			role_id,
  		</if>
  		create_time,
  	</trim>
  	<trim prefix="values (" suffix=")" suffixOverrides="," >
  	 	<if test="resourceId != null and resourceId !=''">
  			#{resourceId,jdbcType=INTEGER},
  		</if>
  		<if test="roleId != null and roleId !=''">
  			#{roleId,jdbcType=INTEGER},
  		</if>
  		now(),
  	</trim>
  </insert>
</mapper>